{% extends 'base.html' %}

{% block content %}
<h1 class="ui dividing header align-center">TAX DECLARATION OF REAL PROPERTY</h1>
<form class="ui form">
    
    <div class="field">
        <label>Edit After Approval from Provincial Assessor's Office</label>
        <div class="two fields">
          <div class="field ">
            <input type="text" name="shipping[TDNo.]" placeholder="Tax Dec No" >
          </div>
          <div class="field">
            <input type="text" name="shipping[PIN]" placeholder="Property Index No">
          </div>
         
        </div>
      
    </div>
    <div class="field">
      <label>Owner Information</label>
      <div class="three fields">
        <div class="field">
          <input type="text" name="shipping[first-name]" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="shipping[last-name]" placeholder="Last Name">
        </div>
        <div class="field">
            <input type="text" name="shipping[middle-name]" placeholder="Middle Name">
          </div>
      </div>
    </div>
    <div class="field">
        <label>Administrator User</label>
        <div class="two fields">
          <div class="field ">
            <input type="text" name="shipping[]" placeholder="Beneficial User" >
          </div>
          <div class="field">
            <input type="text" name="shipping[]" placeholder="TIN">
          </div>
         
        </div>
      
    </div>
    <h4 class="ui dividing header">Property Location</h4>
    <div class="fields">        
        <div class="eight wide field">
            <input type="text" name="shipping[address]" placeholder="Number and Street">
        </div>
        <div class="two wide field">
                <select class="ui dropdown" name="shipping[Barangay]">
                    <option value="">Barangay</option>
                    <option value="01">CAPONGA</option>
                    <option value="03">AMBONGDOLAN</option>
                    <option value="02">AMBASSADOR</option>
                    <option value="04">BA-AYAN</option>
                    <option value="05">BASIL</option>
                    <option value="06">CENTRAL</option>
                    <option value="07">DACLAN</option>
                    <option value="08">TUEL</option>
                </select>
          </div>
          <div class="six wide field">
            <input type="text" name="shipping[Municipality]" placeholder="TUBLAY, BENGUET">
          </div>
        
      
    </div>
    <div class="field">
        
        <div class="two fields">
          <div class="field ">
            <input type="text" name="shipping[TitleNo]" placeholder="Certification of Title No." >
          </div>
          <div class="field">
            <input type="text" name="shipping[]" placeholder="Survey No.">
          </div>
         
        </div>
      
    </div>
    <div class="field">
        
        <div class="two fields">
          <div class="field ">
            <input type="text" name="shipping[TitleNo]" placeholder="Dated:" >
          </div>
          <div class="field">
            <input type="text" name="shipping[]" placeholder="Lot No.">
          </div>
         
        </div>
      
    </div>
    
    <h4 class="ui dividing header">Property Boundaries</h4>
    
            <div class="field">
        
                <div class="four fields">
                  <div class="field ">
                    <input type="text" name="shipping[TitleNo]" placeholder="North" >
                  </div>
                  <div class="field">
                    <input type="text" name="shipping[]" placeholder="East">
                  </div>
                  <div class="field ">
                    <input type="text" name="shipping[TitleNo]" placeholder="West" >
                  </div>
                  <div class="field">
                    <input type="text" name="shipping[]" placeholder="South">
                  </div>
                 
                </div>
              
            </div>
            <div class="field">
        
                <div class="four fields">
                  <div class="field ">
                    <input type="text" name="shipping[TitleNo]" placeholder="North" >
                  </div>
                  <div class="field">
                    <input type="text" name="shipping[]" placeholder="East">
                  </div>
                  <div class="field ">
                    <input type="text" name="shipping[TitleNo]" placeholder="West" >
                  </div>
                  <div class="field">
                    <input type="text" name="shipping[]" placeholder="South">
                  </div>
                 
                </div>
              
            </div>



       
        <h3 class="ui dividing header">KIND OF PROPERTY ASSESSED:</h4>
      
        <div class="two fields">
        
            <div class="inline field error">
           
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>LAND</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="1" class="hidden">
                    <label>BUILDING</label>
                </div>
            </div>
        
        </div>

        <div class="ui button" tabindex="3">Submit Order</div>
    </div>
  </form>

  {% endblock %}