{% extends 'base.html' %}

{% block content %}
<div class="seven field">
  <div class="ui big icon input">
    <input type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
</div>
<br/>
<table class = "table">
  <thead>
    <tr>
      <th scope="col">RPID</th>
      <th scope="col">TC</th>
      <th scope="col">LastName</th>
      <th scope="col">FirstName</th>
      <th scope="col">MiddleName</th>
      <th scope="col">TDN</th>
      <th scope="col">PIN</th>
      <th scope="col">Sitio</th>
      <th scope="col">Barangay</th>
      <th scope="col">Kind</th>
      <th scope="col">Class</th>
      <th scope="col">Area</th>
      <th scope="col">Market Value</th>
      <th scope="col">Assess Value</th>
      <th scope="col">TitleNo</th>
      <th scope="col">PrevOwner</th>
      <th scope="col">PrevTDN</th>
      <th scope="col">PrevArea</th>
      <th scope="col">PrevMV</th>
      <th scope="col">PrevAV</th>




    </tr>





  </thead>



  
</table>






{% endblock %}